<% form_for :item do |f| %>
  <h3>
    Not done:
  </h3>

  <ul id="undone">
    <%= render :partial => "item", :collection => @not_done %>
  </ul>

  <h3>
    Done:
  </h3>

  <ul id="done">
    <%= render :partial => "item", :collection => @done %>
  </ul>
<% end %>

<p>
  <%= link_to "Add new item", new_item_path %>
</p>

<% remote_form_for Item.new,
                   :html => { :id => "add_form", 
                              :style => "display: none;"} do |f| %>
  New item:
  <%= f.text_field :description %>
  <input type="submit" value="Add item">
<% end %>